path/to/large/file filter=lfs diff=lfs merge=lfs -text
C:/Users/DELL/OneDrive/Documents/GitHub/Saumyakumardas.github.io/Mantra[[:space:]]Tantra[[:space:]]Yantra[[:space:]]Vigyan[[:space:]]1998 filter=lfs diff=lfs merge=lfs -text
